<div class='mt-4'>
    <label class='text-base font-medium'>Tipos de Atendimento</label>
    <div class="grid grid-cols-1 gap-y-3 mt-4">
      <div class="flex items-center">
        <input type="checkbox" id="healthInsurance" name="healthInsurance" value="healthInsurance"
          class="mr-2 h-5 w-5 appearance-none rounded-full border-2 border-gray-400" />
        <label class='text-base font-medium' for="healthInsurance">Convênio</label>
      </div>
      <div class="flex items-center">
        <input type="checkbox" id="particular" name="particular" value="particular"
          class="mr-2 h-5 w-5 appearance-none rounded-full border-2 border-gray-400" />
        <label class='text-base font-medium' for="particular">Particular</label>
      </div>
      <div class="flex items-center">
        <input type="checkbox" id="social" name="social" value="social"
          class="mr-2 h-5 w-5 appearance-none rounded-full border-2 border-gray-400" />
        <label class='text-base font-medium' for="social">Social</label>
      </div>
    </div>
  </div>