<div class="w-full" id="value_div">
        <div class='w-9/12 m-auto items-center p-8'>
          <h1 class='text-gray-800 text-2xl py-2 pb-4 font-bold w-full flex '>
            O valor de uma mente bem cuidada!
          </h1>

          <div class='flex flex-wrap flex-row justify-between gap-10'>
            <div class='rounded-lg hover:bg-indigo-100 p-2'>
              <div class='flex items-center gap-3'>
                <div class='rounded-lg h-10 w-10 flex items-center justify-center bg-indigo-200 p-2'>
                  <img src="/src/assets/simple.png" alt="" class='w-full bg-transparent' />
                </div>
                <span class='font-semibold text-gray-800 text-lg'>
                  Acolhimento
                </span>
              </div>
              <p class='py-2 text-base text-gray-800 opacity-60'>
                Acolhimento é um dos mais importantes aspectos da mente. É o que
                acontece quando a mente está em um estado de acordo com o seu
                comportamento.
              </p>
            </div>

            <div class='rounded-lg hover:bg-indigo-100 p-2'>
              <div class='flex items-center gap-3'>
                <div class='rounded-lg h-10 w-10 flex items-center justify-center bg-indigo-200 p-2'>
                  <img src="/src/assets/simple2.png" alt="" class='w-full bg-transparent' />
                </div>
                <span class='font-semibold text-gray-800 text-lg'>
                  Comprometimento
                </span>
              </div>
              <p class='py-2 text-base text-gray-800 opacity-60'>
                Tenha o suporte para manter a dedicação e a determinação alinhadas com seus objetivos e valores
                pessoais.
                Reforce sua seriedade e empenho em seguir seu caminho rumo à realização e ao sucesso na vida com
                comprometimento
              </p>
            </div>

            <div class='rounded-lg hover:bg-indigo-100 p-2'>
              <div class='flex items-center gap-3'>
                <div class='rounded-lg h-10 w-10 flex items-center justify-center bg-indigo-200 p-2'>
                  <img src="/src/assets/simple3.png" alt="" class='w-full bg-transparent' />
                </div>
                <span class='font-semibold text-gray-800 text-lg'>
                  Profissionalismo
                </span>
              </div>
              <p class='py-2 text-base text-gray-800 opacity-60'>
                Descubra nossa excepcional grade de psicólogos altamente qualificados, prontos para oferecer apoio
                emocional e
                orientação personalizada. Com profundo conhecimento e empatia, nossa classe de psicólogos está
                comprometida em
                ajudá-lo a alcançar bem-estar mental e equilíbrio emocional. Invista em seu crescimento pessoal com o
                suporte de
                profissionais dedicados à sua saúde mental.
              </p>
            </div>
          </div>
        </div>
      </div>