<!DOCTYPE html>
<div class="w-9/12 container mx-auto px-4">
  <h2 class="text-xl font-bold text-center mb-8">Trabalhamos com três opções de atendimento:</h2>

  <div class="grid sm:grid-cols-2 md:flex justify-between p-8 mb-4 gap-16">
    <div class="sm:w-2/3 md:w-1/3 overflow-hidden shadow-md rounded-lg bg-white px-6 py-4 ">
      <h3 class="text-lg font-bold text-gray-800">Particular</h3><hr/>
      <p class="text-gray-500 text-sm mt-4">
        - Plano de tratamento personalizado: Abordagem específica para seus desafios.<br />
        - Espaço seguro e confidencial: Explore seus pensamentos e sentimentos sem julgamentos.<br />
        - Autoconhecimento e desenvolvimento pessoal: Alcance maior autoconfiança e realização.<br />
        - Bem-estar emocional, social e profissional: Uma vida mais plena e feliz.</p>
      <button class="font-bold mt-4 w-full border-2 rounded-md px-4 py-2 font-blod text-gray-800 hover:bg-blue-500 hover:text-white hover:border-white">
        Saiba Mais</button>
    </div>

    <div class="sm:w-2/3 md:w-1/3 overflow-hidden shadow-md rounded-lg bg-white px-6 py-4 ">
      <h3 class="text-lg font-bold text-gray-800">Convênio</h3><hr/>
      <p class="text-gray-500 text-sm mt-4">
        Acessibilidade à Saúde Mental:<br/>

        - Plano de saúde cobre ou reduz custos.<br/>
        - Acompanhamento a longo prazo.<br/>
        - Profissionais qualificados à disposição.<br/>
      </p>
      <button class="font-bold mt-4 w-full border-2 rounded-md px-4 py-2 font-blod text-gray-800 hover:bg-blue-500 hover:text-white hover:border-white">
        Saiba Mais</button>
    </div>

    <div class="sm:w-2/3 md:w-1/3 overflow-hidden shadow-md rounded-lg bg-white px-6 py-4 ">
      <h3 class="text-lg font-bold text-gray-800">Social</h3><hr/>
      <p class="text-gray-500 text-sm mt-4">
        Saúde mental acessível: Gratuito ou a preços populares.
        Acompanhamento especializado: Psicólogos qualificados à disposição.
        Avaliação, plano de tratamento, grupos terapêuticos e apoio.
        Para: População de baixa renda, vítimas de violência, pessoas com transtornos mentais e em situação de vulnerabilidade.
        </p>
      <button class="font-bold mt-4 w-full border-2 rounded-md px-4 py-2 font-blod text-gray-800 hover:bg-blue-500 hover:text-white hover:border-white">
        Saiba Mais</button>
    </div>
  </div>
</div>