<!-- 
  PENDENCIAS:
  - Consertar os SVGs (lupa) 
-->

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Busca - Appsico</title>
  <link rel="stylesheet" href="/src/tailwind.config.css">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>
  <div>
    <!-- Aqui incluímos o menu -->
    <header id="header_container">
      <%- include('../containers/header')%>
    </header>

    <!-- Conteúdo da sua página vai aqui -->
    <main class="flex flex-wrap flex-row justify-between gap-32">
      <div class="w-full" id="search_professional">
        <div class=" w-9/12 p-4 m-auto justify-between items-center">
          <div class=' grid py-6 my-8'>
            <!-- Barra de pesquisa -->
            <div class=' flex justify-between items-center rounded-lg bg-white p-4 shadow-lg shadow-greyIsh-700'>
              <div class='flex gap-4 items-center w-full'>
                <input type="text" class='w-full text-blue-500 focus:outline-none placeholder:text-sm'
                  placeholder='Busque psicólogos...' />
                <button>
                  <img src="../svgs/search.svg">
                </button>
              </div>
            </div>

            <div class='mt-4'>
              <label class='text-base font-medium'>Tipos de Atendimento</label>
              <div class="grid grid-cols-1 gap-y-3 mt-4">
                <div class="flex items-center">
                  <input type="checkbox" id="healthInsurance" name="healthInsurance" value="healthInsurance"
                    class="mr-2 h-5 w-5 appearance-none rounded-full border-2 border-gray-400" />
                  <label class='text-base font-medium' for="healthInsurance">Convênio</label>
                </div>
                <div class="flex items-center">
                  <input type="checkbox" id="particular" name="particular" value="particular"
                    class="mr-2 h-5 w-5 appearance-none rounded-full border-2 border-gray-400" />
                  <label class='text-base font-medium' for="particular">Particular</label>
                </div>
                <div class="flex items-center">
                  <input type="checkbox" id="social" name="social" value="social"
                    class="mr-2 h-5 w-5 appearance-none rounded-full border-2 border-gray-400" />
                  <label class='text-base font-medium' for="social">Social</label>
                </div>
              </div>
            </div>

            <script src="/src/functions_js/options-select.js"></script>
          </div>
          <!-- Onde aparecerá a resposta de pesquisa -->
          <div class=" flex gap-12 justify-center flex-wrap items-center py-10 mx-8">
            <div
              class="group  hover:bg-blue-500 hover:text-white w-60 p-5 bg-white rounded-lg shadow-lg shadow-gray-400/700">
              <h1 class='text-base font-semibold text-gray-800 group-hover:text-white hover:text-blue-500'>Nome do
                Profissional</h1>

              <h6
                class='text-gray-800 opacity-60 group-hover:opacity-80 group-hover:bg-blue-500 group-hover:text-white'>
                Abordagem: </h6>

              <p
                class='text-base opacity-60  text-gray-800 group-hover:bg-blue-500 group-hover:text-white group-hover:opacity-80'>
                Descrição:
              </p>

              <p
                class='text-base opacity-60  text-gray-800 group-hover:bg-blue-500 group-hover:text-white group-hover:opacity-80'>
                Atendimento:
              </p>
              <a href="/profileProfessional">
                <button
                  class='border-2 rounded-lg p-2 w-full text-base mt-5 text-gray-800 opacity-60 group-hover:bg-blue-500 group-hover:text-white group-hover:opacity-100'>
                  Saiba mais
                </button>
              </a>
            </div>

          </div>
        </div>
      </div>
    </main>

    <!-- Aqui incluímos o rodapé -->
    <footer id="footer_container">
      <%- include('../containers/footer')%>
    </footer>
  </div>
  
</body>

</html>