<div class="w-9/12 m-auto items-center flex flex-wrap justify-between px-8 bg-gray-100 rounded-lg">
    <div class="py-4">
      <h1 class='text-blue-500 text-3xl font-bold'>Pronto para escolher um Psicólogo?</h1>
      <h2 class='text-gray-800 py-2 text-3xl font-bold'>Vamos começar!</h2>
    </div>
    <a class="w-full" href="/src/routes/psychologists/index.html">
      <button
        class='w-full py-2 my-4 border-2 rounded-lg font-semibold text-blue-500 hover:text-white hover:bg-blue-500 border-blue-500 md:text-lg sm:text-base'>
        Comece Agora
      </button>
    </a>
  </div>